@media only screen and (min-width: 768px) and (max-width: 1219px) {
    .footer-container  {
        width: 768px;
    }

    .pesquisa, .vender, .texto {
        padding: 125px  0 50px 0;
    }

    select {
        width: 200px;
    }

        .pesquisa button {
        width: 45px;
    }

    .tablet {
        display: none;
    }

    .pesquisa h1, .vender h1, .texto h1 {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 767px) {
    .pesquisa-input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    .pesquisa-input select,
    .pesquisa-input button {
        padding: 10px;
        width: 100%;
    }
    
    .texto img {
        max-width: 320px;
        margin-top: -5px;
        margin-bottom: -10px;
    }

    .pesquisa h1, .vender h1, .texto h1 {
        font-size: 2em;
    }

    .pesquisa h2, .vender h2, .texto h2{
        font-size: 1.11em;
    }

    .texto p, .texto h3, .texto ol, .texto ul {
        font-size: 1em;
    }

    .texto p, .texto ol, .texto ul{
    margin-bottom: 15px;
}

    .pesquisa, .vender, .texto {
        padding: 100px  0 10px 0;
    }

    .carros {
        margin-bottom: 50px;
    }

    .vender-container {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        align-items: center;
        position: relative;
    }

    .cards-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .card h3 {
        font-size: 0.95em;
        margin-top: 15px;
    }

    .card p {
        font-size: 1.1em;
    }

    .foto img{
        height: 125px;
    }

    .carros {
        display: flex;
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        gap: 8px;
        padding: 16px 0;
    }

    footer {
        font-size: 0.8em;
    }
}