:root {
  --cor-principal: #004fff;
  --cor-secundaria: #ff007f;
  --cor-destaque: #34e5ff;
  --cor-preto: #201e1f;
  --cor-preto-sub: #6e6e6e;
  --cor-background: #edf7f6;
  --cor-borda: #dae0e7;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cor-background);
  color: var(--cor-preto);
}

header {
    position: fixed;
    padding: 20px;
    border-bottom: 1px solid;
    border-color: var(--cor-borda);
    background-color: #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    z-index: 2;
}

button {
    background-color: var(--cor-principal);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 12px;
    transition: all 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    box-shadow: 0 0 15px 1px #48abe0;
}

button svg {
    height: 20px;
}

select {
    border: 1px solid;
    border-color: var(--cor-borda);
    width: 210px;
    padding: 12px;
    border-radius: 12px;
}

.box, .cards-grid .card, .filtros div {
    padding: 20px;
    border: 1px solid;
    border-color: var(--cor-borda);
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.header-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 32px;
    
}

.logo svg {
    fill: var(--cor-principal);
    height: 30px;
    transition: transform 0.4s ease;
}

.logo svg:hover {
    transform: scale(0.95);
}

header a {
    color: var(--cor-preto);
    margin-left: 20px;
}

header a:hover {
    color: var(--cor-principal);
    transition: all 0.2s;
}

.pesquisa {
    text-align: center;
    padding: 175px  0 100px 0;
    background: linear-gradient(var(--cor-principal) -750%, var(--cor-background));
}

.pesquisa h1 {
    font-weight: 700;
    font-size: 3em;
    color: var(--cor-preto);
    margin-bottom: 10px;
}

.pesquisa p {
    font-size: 1.25em;
    margin-bottom: 35px;
    color: var(--cor-preto-sub);
}

.pesquisa-input {
    margin: 0 auto;
    padding: 25px;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
}

.pesquisa button {
    width: 210px;
}

.carros {
    margin-bottom: 100px;
}

.carros{
    display: flex;
    gap: 20px;
}

.filtros div {
    width: 250px;
    margin-bottom: 20px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.foto {
    position: relative;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.foto img{
    width: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.cards p {
    color: var(--cor-preto-sub);
}

.card {
    padding: 0 !important;
    transition: transform 0.4s ease;
}

.card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card:hover > .foto img {
    transform: scale(1.1);
}

.card div:not(.foto) {
    margin-left: 20px;
}

.card div:not(.foto) img {
    height: 20px;
    margin-right: 5px;
}

.card span {
    color: var(--cor-preto-sub);
    font-size: 0.9rem;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.card h3 {
    color: var(--cor-preto);
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 20px;
    margin-bottom: 5px;
}

.card p {
    font-weight: 700;
    color: var(--cor-principal);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-final {
    margin-bottom: 20px;
}

.tag {
    background-color: var(--cor-principal);
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    border-radius: 6px;
    padding: 6px 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.footer-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between; /* joga um pra cada lado */
    align-items: center; 
    margin: 0 auto;
    height: 75px;
}

footer {
    background-color: #fff;
    color: var(--cor-preto-sub);
    font-size: 0.9rem;
    border-top: 1px solid;
    border-color: var(--cor-borda);
}

footer svg {
    height: 25px;
    fill: var(--cor-preto-sub);
}