:root {
  --cor-principal: #004fff;
  --cor-principal-sub: #003ec4;
  --cor-secundaria: #ff007f;
  --cor-destaque: #34e5ff;
  --cor-preto: #201e1f;
  --cor-preto-sub: #6e6e6e;
  --cor-background: #edf7f6;
  --cor-borda: #dae0e7;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cor-background);
  color: var(--cor-preto);
}

header {
    position: fixed;
    padding: 20px;
    border-bottom: 1px solid;
    border-color: var(--cor-borda);
    background-color: #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    z-index: 1;
}

button {
    background-color: var(--cor-principal);
    color: #fff;
    border: none;
    padding: 12px 46px;
    border-radius: 12px;
    transition: all 0.2s;
}

button:hover {
    background-color: var(--cor-principal-sub);
}

button svg {
    height: 20px;
    margin-bottom: -4px;
    margin-right: 8px;
}

select {
    border-bottom: 1px solid;
    border-color: var(--cor-borda);
    width: 210px;
    padding: 12px;
    border-radius: 12px;
}

.box, .cards-grid .card, .filtros div {
    padding: 16px;
    border: 1px solid;
    border-color: var(--cor-borda);
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.header-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 32px;
    
}

.logo svg {
    fill: var(--cor-principal);
    height: 30px;
}

header a {
    color: var(--cor-preto);
    margin-left: 20px;
}

header a:hover {
    color: var(--cor-principal);
    transition: all 0.2s;
}

.pesquisa {
    text-align: center;
    padding: 175px  0 100px 0;
    background: linear-gradient(var(--cor-principal) -750%, var(--cor-background));
}

.pesquisa h1 {
    font-weight: 700;
    font-size: 3em;
    color: var(--cor-preto);
    margin-bottom: 10px;
}

.pesquisa p {
    font-size: 1.25em;
    margin-bottom: 35px;
    color: var(--cor-preto-sub);
}

.pesquisa-input {
    margin: 0 auto;
    padding: 25px;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
}

.pesquisa button {
    width: 210px;
}

.carros {
    margin-bottom: 200px;
}

.carros, .cards-grid {
    display: flex;
    gap: 20px;
}

.filtros {
    width: 500px;
}

.foto {
    position: relative;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.foto img{
    width: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.foto img:hover {
    transform: scale(1.1);
}

.cards h2 {
    font-weight: 700;
    color: var(--cor-preto);
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-bottom: 25px;
}

.cards p {
    color: var(--cor-preto-sub);
}

.card {
    padding: 0 !important;
}

.tag {
    background-color: var(--cor-principal);
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    border-radius: 6px;
    padding: 6px 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}