:root {
  --cor-principal: #004fff;
  --cor-secundaria: #ff007f;
  --cor-destaque: #34e5ff;
  --cor-preto: #201e1f;
  --cor-background: #edf7f6;
  --cor-borda: #dae0e7;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cor-background);
  color: var(--cor-preto);
}

header {
    position: fixed;
    padding: 16px;
    border-bottom: 1px solid;
    border-color: var(--cor-borda);
    background-color: #fff;
    width: 100%;
}

.header-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 32px;
    
}

.logo svg {
    fill: var(--cor-principal);
    width: 30px;
    margin-right: 7px;
}

.logo p {
    font-weight: 800;
    font-style: italic;
    color: var(--cor-principal);
    font-size: 1.7rem;
}

header a {
    color: var(--cor-preto);
    margin-left: 20px;
}

header a:hover {
    color: var(--cor-principal);
    transition: all 0.2s;
}

.pesquisa {
    text-align: center;
    padding-top: 125px;
}

.pesquisa h1 {
    font-weight: 800;
    font-size: 3em;
    color: var(--cor-preto);
    margin-bottom: 10px;
}

.pesquisa p {
    font-size: 1.25em;
}